*{
	font-family: Georgia, serif;
}
body{
	background:
	    linear-gradient(
      		rgba(0, 0, 0, 0.3), 
      		rgba(0, 0, 0, 0.3)
    		), url("feast.jpg");
}
h3{
	font: 14pt Georgia, serif;
	font-weight: bolder;
}

#head{
	color: white;
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
}
	#head h1{
		font-family: 'Playfair Display', serif;
		font-size: 65pt;
		font-weight: 900;
		margin-bottom: 60px;
	}

#form{

	width: 400px;
	height: 400px;
	color: white;
	margin: 0 auto;
	padding: 10px 10px 20px 10px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}	
	#form p{
		font: 10pt, Georgia, serif;
		font-style: normal;
		font-weight: 400;	

}

#button{
	padding: 10px 10px 10px 10px;
	font: 12pt Georgia, serif;
	font-weight: bolder;
}

#appetizer, #entree, #dessert{
	display: inline-block;
	vertical-align: top;
	padding: 20px 30px 30px 30px;
	margin: 0 auto;
}

.rsvp{
	background-color: white;
	width: 150px;
	height: 150px;
	background: white;
	opacity: 0.8;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	text-align: center;
	margin-bottom: 5px;
	padding: 4px 3px 0 3px;

}
.rsvp_label{
	background-color: white;
	width: 150px;
	height: 150px;
	background: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	text-align: center;
	margin-bottom: 5px;
	padding: 4px 3px 0px 3px;
}

@media  
  (min-width: 320px) 
  and (max-width: 414px) 
  { 
	#form{
		width: 100%;
		margin: 0 auto;
	}
	#appetizer, #entree, #dessert{
		width: 100%;
		padding: 10px;
	}
	.rsvp, .rsvp_label{
		margin: 0 auto;
	}
}

@media  
  (min-width: 414px) 
  and (max-width: 768px) 
  { 
	#form{
		width: 100%;
		margin: 0 auto;

	}
	#appetizer, #entree, #dessert{
		width: 100%;
		padding: 10px;

	}
		.rsvp, .rsvp_label{
		margin: 0 auto;
	}

}


@media  
  (min-width: 768px) 
  and (max-width: 1094px) 
  { 

	#appetizer, #entree, #dessert{
		padding: 0px 0px 0px 0px !important;
	}
	.rsvp, .rsvp_label{
		margin: 0 auto;
	}	

}

