*{
	font-family: Helvetica, sans-serif;
}
body{
	background-image: url("feast.jpg");
	background-color: black;
}
h3{
	font: 14pt Helvetica, sans-serif;
	font-weight: bolder;
}

#head{
	background-color:lightgray;
	width: 200px;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 10px 20px 10px;
	margin-bottom: 5px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
#head h1{
	font: 18pt Helvetica, sans-serif;
	font-weight: bolder;
}
#head p{
	font: 10pt Helvetica, sans-serif;
	font-weight: lighter;	
}
#button{
	padding: 10px 10px 10px 10px;
	font: 12pt Helvetica, sans-serif;
	font-weight: bolder;
}
#appetizer, #entree, #dessert{
	display: inline-block;
	vertical-align: top;
}

.rsvp{
	background-color: white;
	width: 150px;
	height: 150px;
	background: white;
	opacity: 0.8;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	text-align: center;
	margin-bottom: 5px;
	padding: 4px 3px 0 3px;

}
.rsvp_label{
	background-color: white;
	width: 150px;
	height: 150px;
	background: white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	text-align: center;
	margin-bottom: 5px;
	padding: 4px 3px 0 3px;

}

